<html>
  <head>
    <title>Github Profile</title>
  </head>
  <body>
    <div class="row">
      <div class="small-2 large-12 columns">
        <div class="left box">
          <ul id="contact-information">

          </ul>
        </div>
      </div>
      <div class="small-4 large-12 columns">
        <div class="left box">
          <ul id="repo-information">

          </ul>
        </div>
      </div>
      <div class="small-6 large-12 columns">
      </div>
    </div>
  </body>
</html>
